/* ******************************
    Layout Styles - Full Site
********************************* */

.main-header, footer {
    text-align: center;
    background-color: lightgrey;
    color: black;
    border: 5px black solid;
    margin: 5px;
}

.row {
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 5px;
}
.col-4 {
    padding: 5px;
    margin-bottom: 5px;
}
.col {
    border: 5px solid orange;
    padding: 5px;
}

/* ********************************
    Media Queries
*********************************** */

@media (max-width: 575px) {
    .col-4 {
        border: 5px solid green;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .row {
        flex-direction: column;
        justify-content: center;
        display: flex;
    }
    .col {
        border: 5px solid red;
    }
    .col-4 {
        border: 5px solid black;
        width: 50%;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .row {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    .col {
        border: 5px solid navy;
    }
    .col-4 {
        border: 5px solid aqua;
    }

}

@media (min-width: 1024px) {
    .row {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    .col {
        border: 5px solid red;
    }
    .col-4 {
        border: 5px solid green;
        width: 50%;
    }

}