/* ***************************************************
    Layout Styles - Full Site
*************************************************** */

.main-header, footer {
    text-align: center;
    background-color: lightgrey;
    color: black;
    border: 5px black solid;
    margin: 5px;
}

body {
    background-image: linear-gradient(to top right, black, blue, purple);
    color: white;
}

p, li {
    text-align: left;
    word-wrap: break-word;
    padding: 5px;
}

.row {
    flex-direction: column;
    justify-content: center;
    word-wrap: normal;
    display: flex;
    padding: 5px;
}
.col-4 {
    padding: 5px;
    margin-bottom: 5px;
}
.col {
    border: 5px solid orange;
    padding: 5px;
}
.col-5, .col-7, .col-6 {
    border: 2px dashed violet;
    margin: 10px;
    padding: 15px;
    word-wrap: break-word;
}
#bottom-link {
    margin: 20px;
}

#about {
    padding: 1em;
}

/* *****************************
    Carousel Stylings
***************************** */

.carousel-wrapper {
    overflow: hidden;
    width: 90%;
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
}

.carousel_photo {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100%;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel_photo.initial,
.carousel_photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel_photo.prev,
.carousel_photo.next {
    z-index: 800;
}

.carousel_photo.prev {
    transform: translateX(-100%);
}

.carousel_photo.next {
    transform: translateX(100%);
}

/* Buttons */
.carousel_button--prev,
.carousel_button--next {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #FFF; /* may change this color */
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid black;
}

.carousel_button--prev {
    left: 0;
}

.carousel_button--next {
    right: 0;
}

.carousel_button--prev::after,
.carousel_button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
} 

.carousel_button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}




/* ------------------------
    Form Page 
------------------------ */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro); /* Sans Pro font */
label {
    display: block;
    overflow-wrap: break-word;
    color: blue;
}
textarea {
    resize: both;
    margin-bottom: 2em;
    width: 90%;
}
input[type=text], input[type=email] {
    border: 1px solid blue;
    width: 90%;
}

input:nth-of-type(even) {
    background-color:  blue;
    color: white;
}
input:nth-of-type(odd) {
    background-color: rgb(173, 74, 173);
    color: white;
}

/* ------------------------
    Circuits Page
------------------------ */

.flex-container2 {
    display: grid;
}


/* ********************************************************
    Media Queries
********************************************************* */

/* Small Screens */
@media (max-width: 575px) {
    .col-4 {
        border: 5px solid green;
    }
}

@media (max-width: 767px) {
    .form {
        justify-content: center;
        background-color: lightgray;
        padding-left: 10px;
    }
}

/* Medium Screens and Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .row {
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .col {
        border: 5px solid red;
    }
    .col-4 {
        border: 5px solid black;
        width: 50%;
    }
}

/* Large Screens */
@media (min-width: 768px) and (max-width: 1023px) {
    .row, .row-header, .row-2, .row-3 {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    /* .page {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline;
    } */
    #contacts {
        flex-basis: 50%;
    }

    /* ADD CAROUSEL HERE */
    .col {
        border: 5px solid navy;
    }
    .col-4 {
        border: 5px solid aqua;
    }

    .form {
        justify-content: left;
        background-color: lightgray;
        padding-left: 20px;
    }
    .row-a, .row-b {
        flex-direction: row;
        justify-content: left;
        display: flex;
    }
    .page, .col-link {
        margin-left: 25px;
        margin-right: 25px;
    }
}

/* Large Widescreens */
@media (min-width: 1024px) {
    .row, .row-header, .row-2, .row-3 {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    .page {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline;
    }
    .col {
        border: 5px solid red;
    }
    .col-4 {
        border: 5px solid green;
        width: 50%;
    }
    .form {
        justify-content: left;
        background-color: lightgray;
        padding-left: 20px;
    }
    .row-a, .row-b {
        flex-direction: row;
        justify-content: left;
        display: flex;
    }
    .page, .col-link {
        margin-left: 25px;
        margin-right: 25px;
    }
}