/* ***************************************************
    Layout Styles - Full Site
*************************************************** */

.main-header, footer {
    text-align: center;
    background-color: lightgrey;
    color: black;
    border: 5px black solid;
    margin: 5px;
}

.row {
    flex-direction: column;
    justify-content: center;
    word-wrap: normal;
    display: flex;
    padding: 5px;
}
.col-4 {
    padding: 5px;
    margin-bottom: 5px;
}
.col {
    border: 5px solid orange;
    padding: 5px;
}
.col-5, .col-7 {
    border: 2px dashed violet;
    margin: 10px;
    padding: 10px;
}

/* ------------------------
    Form Page 
------------------------ */
label {
    display: block;
    overflow-wrap: break-word;
}
textarea {
    resize: both;
    margin-bottom: 10px;
}
input[type=text], input[type=email] {
    border: 1px solid blue;
    width: 90%;
}

/* ------------------------
    Circuits Page
------------------------ */

.col-a, .col-b {
    border: 5px solid blue;
    margin-bottom: 5px;
    margin-left: 5px;
}



/* ********************************************************
    Media Queries
********************************************************* */

/* Small Screens */
@media (max-width: 575px) {
    .col-4 {
        border: 5px solid green;
    }
}

@media (max-width: 767px) {
    .form {
        justify-content: center;
        background-color: lightgray;
        padding-left: 10px;
    }
}

/* Medium Screens and Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .row {
        flex-direction: column;
        justify-content: center;
        display: flex;
    }
    /* ADD STATIC IMAGE HERE, LEFT COLUMN */
    .col {
        border: 5px solid red;
    }
    .col-4 {
        border: 5px solid black;
        width: 50%;
    }
}

/* Large Screens */
@media (min-width: 768px) and (max-width: 1023px) {
    .row, .row-header, .row-2, .row-3 {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    .page {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline;
    }
    #contacts {
        flex-basis: 50%;
    }

    /* ADD CAROUSEL HERE */
    .col {
        border: 5px solid navy;
    }
    .col-4 {
        border: 5px solid aqua;
    }
    .form {
        justify-content: left;
        background-color: lightgray;
        padding-left: 20px;
    }
    .row-a, .row-b {
        flex-direction: row;
        justify-content: left;
        display: flex;
    }
}

/* Large Widescreens */
@media (min-width: 1024px) {
    .row, .row-header, .row-2, .row-3 {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    .page {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline;
    }
    .col {
        border: 5px solid red;
    }
    .col-4 {
        border: 5px solid green;
        width: 50%;
    }
    .form {
        justify-content: left;
        background-color: lightgray;
        padding-left: 20px;
    }
    .row-a, .row-b {
        flex-direction: row;
        justify-content: left;
        display: flex;
    }

}