/* ***************************************************
    Layout Styles - Full Site
*************************************************** */

body {
    background-image: linear-gradient(to top right, rgb(14, 128, 167), black);
    color: white;
    font-family: Verdana, sans-serif;
    margin: 0;
}

footer {
    text-align: center;
    background-color: lightgrey;
    color: black;
    border: 5px black solid;
    margin: 5px;
}



#sponsors {
    border-bottom:  5px solid black;
    border-top: 5px solid black;
    margin: 20px;
    padding: 10px;
}

.row {
    flex-direction: column;
    justify-content: center;
    word-wrap: normal;
    display: flex;
    padding: 5px;
}

.col-10 {
    border: 2px solid violet;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
}

/* ---------------------------
    Link Styles 
----------------------------*/
#bottom-link {
    margin: 20px;
}

a:link {
   color: white;  
}

a:link {
    color: rgb(218, 125, 125);  
 }

a:visited {
    color: greenyellow;
}

a:hover {
    color:pink;
}

/* Commented Out - Mass Edits 
.main-header, footer {
    text-align: center;
    background-color: lightgrey;
    color: black;
    border: 5px black solid;
    margin: 5px;
}

p {
    text-align: left;
    word-wrap: break-word;
    padding: 5px;
}

.col-5, .col-7, .col-6 {
    border: 2px dashed violet;
    margin: 10px;
    padding: 15px;
    word-wrap: break-word;
}

/* .col-4 {
    padding: 5px;
    margin-bottom: 5px;
}
.col {
    border: 5px solid orange;
    padding: 5px;
}

#about {
    padding: 1em;
}
*/

/* ----------------------------
    Form Page 
---------------------------- */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro); /* Sans Pro font */
label {
    display: block;
    overflow-wrap: break-word;
    color: blue;
}
textarea {
    resize: both;
    margin-bottom: 2em;
    width: 90%;
}
input[type=text], input[type=email] {
    border: 1px solid blue;
    width: 90%;
}

input:nth-of-type(even) {
    background-color:  blue;
    color: white;
}
input:nth-of-type(odd) {
    background-color: rgb(14, 128, 167);
    color: white;
}

/* ------------------------
    Circuits Page
------------------------ */

.flex-container2 {
    display: grid;
    width: 175%;
}

.col-6, .col-5 {
    border: 5px solid aqua;
    padding: 10px;
}


/* ********************************************************
                    Media Queries
********************************************************* */

/* Small Screens */
@media (max-width: 575px) {
    .col-4 {
        border: 5px solid green;
    }
}

@media (max-width: 767px) {
    .form {
        justify-content: center;
        background-color: lightgray;
        padding-left: 10px;
    }
    .col-10 {
        border: 2px dashed violet;
        margin: 10px;
        padding: 10px;
        word-wrap: break-word;
    }
    .circuit {
        text-align: justify;
    }
}

/* Medium Screens and Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .row {
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .col {
        border: 5px solid red;
    }
    .col-4 {
        border: 5px solid black;
        width: 50%;
    }
}

/* Large Screens */
@media (min-width: 768px) and (max-width: 1023px) {
    .row, .row-header, .row-2, .row-3 {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    .col-10 {
        border: 2px solid violet;
        margin: 15px;
        padding: 10px;
        word-wrap: break-word;
    }

    /* .page {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline;
    } */
    #contacts {
        flex-basis: 50%;
    }

    /* ADD CAROUSEL HERE */
    .col {
        border: 5px solid navy;
    }
    .col-4 {
        border: 5px solid aqua;
    }

    .col-6 {
        border: 2px solid aqua;
        margin: 5px;
        padding-top: 5px;
        word-wrap: normal;
    }
    
    .flex-container2 {
        width: 95%;
    }

    .form {
        justify-content: left;
        background-color: lightgray;
        padding-left: 20px;
    }
    .row-a, .row-b {
        flex-direction: row;
        justify-content: left;
        display: flex;
    }
    .page, .col-link {
        margin-left: 25px;
        margin-right: 25px;
    }
    /* Centering the Image(s) on the 'Contacts' Page */
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}


/* Large Widescreens */
@media (min-width: 1024px) {
    .row, .row-header, .row-2, .row-3 {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    .page {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline;
    }
    .col {
        border: 5px solid red;
    }
    .col-4 {
        border: 5px solid green;
        width: 50%;
    }
    .form {
        justify-content: left;
        background-color: lightgray;
        padding-left: 20px;
    }
    .row-a, .row-b {
        flex-direction: row;
        justify-content: left;
        display: flex;
    }
    .page, .col-link {
        margin-left: 25px;
        margin-right: 25px;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    .col-6 {
        border: 2px solid aqua;
        margin: 5px;
        padding-top: 5px;
        word-wrap: normal;
    }
    .flex-container2 {
        width: 95%;
    }
}